body {
    font-family: 'Open Sans', sans-serif;
    background: #f5f5f5;
}

a, a:hover, a:active, a:visited, a:focus {
    text-decoration:none;
}

.app {
    position:relative
}

.main-content {
    margin-top: 61px;
}

.m-t-10 {
    margin-top: 10px;
}

.m-t-20 {
    margin-top: 20px;
}

.h-20 {
    height: 20px;
}

/* Header */
.navbar-around {
    background: #ffbc00;
    min-height: 61px;
    margin-bottom: 0;
    border-bottom: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.navbar-around .navbar-header {
    min-height: 61px;
}

.navbar-around .navbar-header .navbar-brand {
    margin: 0;
    padding: 0;
    width: 180px;
}

.navbar-around .navbar-form {
    width: auto;
    margin-left: 10px;
}

#custom-search-input{
    padding: 0;
    border: solid 1px #E4E4E4;
    border-radius: 20px;
    background-color: #fff;
    height: 44px;
    box-sizing: border-box;
}

#custom-search-input input{
    border: 0;
    box-shadow: none;
    border-radius: 20px;
    height: 40px;
    font-size: 13px;
    color: #5c5c5c;
    width: 200px;
    -webkit-transition:width 0.3s ease-in-out;
}

#custom-search-input input:focus{
    width: 300px;
    -webkit-transition: width 0.5s ease-in-out;
}

#custom-search-input button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
}

#custom-search-input button:hover{
    border: 0;
    box-shadow: none;
}

#custom-search-input .glyphicon-search{
    font-size: 16px;
}

.navbar-around .navbar-nav li a.parent{
    min-height: 61px;
    color: #fff;
    padding: 5px 10px;
    box-sizing: border-box;
}

.navbar-around .navbar-nav li a.parent img{
    width: 46px;
    height: 46px;
    border-radius: 50%;
    margin-right: 10px;
}

.navbar-around .navbar-nav li a.parent:hover,
.navbar-default .navbar-nav > .open > a.parent,
.navbar-default .navbar-nav > .open > a.parent:hover,
.navbar-default .navbar-nav > .open > a.parent:focus {
    color: #fff;
    background: rgba(0,0,0,0.3);
}

.navbar #nav-bar ul li.active a.parent:first-child, .navbar #nav-bar ul li a.parent:hover,
.navbar #nav-bar ul li a.parent:focus,
.navbar-default .navbar-nav>.open>a {
    background: none;
}

.navbar-around .navbar-nav li a.parent i{
    font-size: 23px;
    margin-top: 10px;
    padding: 0 10px;
}

.badge-notify{
    background: red;
    position: absolute;
    right: 10px;
    top: 10px;
}



/* Profile */
.profile {

}

.profile .cover {
    width: 100%;
    height: 400px;
    background-color: #334d63;
    background-size: cover;
    background-position: center center;
}

.profile .cover.no-cover {
    height: 250px;
}

.profile .cover .loading-cover {
    width: 100%;
    height: 400px;
    position: absolute;
    background: rgba(255,255,255,0.5);
    display: none;
    text-align: center;
}

.profile .cover .loading-cover img {
    width: 50px;
    height: 50px;
    margin-top: 150px;
}

.profile .cover .bar {
    height: 100%;
}

.profile .cover .bar .container{
    height: 100%;
    position: relative;
}

.profile .cover .bar .profile-image {
    width: 200px;
    height: 200px;
    bottom: 10px;
    left: 0;
    position: absolute;
    border: 5px solid #c8d6f7;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.profile .cover .bar .profile-image.female {
    border-color: #f7c8eb
}


.profile .cover .bar .profile-image .loading-image {
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(255,255,255,0.5);
    display: none;
    text-align: center;
}

.profile .cover .bar .profile-image .loading-image img {
    width: 50px;
    height: 50px;
    margin-top: 35%;
}

.profile .cover .bar .profile-image .change-image {
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(0,0,0,0.60);
    display: none;
}

.profile .cover .bar .profile-image:hover .change-image {
    display: block;
}

.profile .cover .bar .profile-image .change-image input{
    display: none;
}

.profile .cover .bar .profile-image .change-image .upload-button {
    color: #fff;
    text-shadow: 1px 1px #000;
    text-align: center;
    display: block;
    font-size: 18px;
    font-weight: bold;
    margin-top: 35%;
}

.profile .cover .bar .profile-image .change-image .upload-button i{
    display: block;
    font-size: 30px;
}

.profile .cover .bar .profile-image .change-image .upload-button:hover {
    text-decoration: none;
}

.profile .cover .bar .profile-image img{
    width: 100%;
    height: 100%;
}

.profile .cover .bar .profile-text {
    position: absolute;
    left: 210px;
    bottom: 10px;
    color: #fff;
    float: left;
    text-shadow: 1px 1px #000;
    background: rgba(0,0,0,0.4);
    padding: 10px 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.profile .cover .bar .profile-follow {
    position: absolute;
    right: 0;
    bottom: 10px;
}


.profile .cover .bar .profile-text h2 {
    text-transform: uppercase;
    font-size: 26px;
}
.profile .cover .bar .profile-text h2, .profile .cover .bar .profile-text h4 {
    margin: 0;
}

.profile .cover .bar .profile-upload-cover {
    position: absolute;
    right: 0;
    bottom: 10px;
}

.profile .cover .bar .profile-upload-cover input{
    display: none;
}

.profile .cover .bar .profile-upload-cover i{
    margin-right: 5px;
}

.profile .cover .bar .profile-upload-cover .upload-button:hover {
    text-decoration: none;
}

.profile .profile-main {
    margin-top: 30px;
}

.profile .profile-information {
    position: relative;
}

.profile .profile-information .edit-button {
    position: absolute;
    z-index: 99;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-align: center;
    box-sizing: border-box;
    display: none;
}

.profile .profile-information:hover .edit-button {
    display: block
}

.profile .profile-information .edit-button .button-frame {
    width: 100%;
    height: 100%;
    position: relative;
}

.profile .profile-information .edit-button a {
    color: #fff;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.profile .profile-information .edit-button a:hover {
    color: #fff;
    font-size: 20px;
    text-decoration: none;
}

.profile .profile-information li i{
    width: 20px;
}

.profile #map-render {
    width: 100%;
    height: 300px;
}


/* Follow Buttons */
.follow-button, .following-button, .request-button {
    background: #fff;
    border: 1px solid #ddd;
}

.follow-button i, .following-button i, .request-button i {
    color: #5d7c97;
    margin-right: 5px;
}

.following-button {
    background: #e6f5d6;
    border-color: #c9e0b1;
}

.following-button:after {
    content: 'Following'
}

.following-button:hover {
    background: #d6e7f5;
    border-color: #adc5da;
}

.following-button:hover:after {
    content: 'Unfollow'
}

.request-button:after {
    content: 'Request Sent'
}

.request-button:hover:after {
    content: 'Undo Request'
}

/* Footer */
.footer{
    margin-top: 98px;
    border-top: 1px solid #dadada;
}

.footer a{
    color: #333
}

/* Loading */
.loading-page {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    display: none;
    text-align: center;
    z-index: 9999;
    background: rgba(255,255,255,0.60);
}

.loading-page img {
    width: 50px;
    height: 50px;
    margin-top: 30%;
}


/* Count Widget */
.count_widget {
    font-size: 12px;
    text-align: center;
    margin-bottom: 25px;
}

.count_widget a {
    width: 58px;
    display: block;
    background: #333;
    height: 58px;
    margin: 0 auto 5px auto;
    -webkit-border-radius: 50% 50%;
    -moz-border-radius: 50% 50%;
    border-radius: 50% 50%;
    color: #fff;
    font-size: 16px;
    padding: 17px 0;
    box-sizing: border-box;
}

.count_widget a.purple {
    background: #b074cc;
}

.count_widget a.purple:hover {
    background: #b345cc;
}

.count_widget a.green {
    background: #45bab6;
}

.count_widget a.green:hover {
    background: #45cac6;
}

.count_widget a.blue {
    background: #457cba;
}

.count_widget a.blue:hover {
    background: #2a5c95;
}


/* Fixed Bar */
.left-fix {
    position: fixed;
    width: 285px;
}
.right-fix {
    width: 100%;
    position: fixed;
}

/* Suggested People */
.suggested-people {
}

.suggested-people .panel-heading {
    background: #fff
}

.suggested-people .list-group .list-group-item {
    padding: 5px;
    margin: 0;
}

.suggested-people .list-group .list-group-item div {
    padding: 5px;
}

.suggested-people .list-group .list-group-item img {
    width: 100%;
    margin: 0;
    padding: 0;
}

.suggested-people .list-group .list-group-item span {
    color: #505050;
}

.suggested-people .list-group .list-group-item small {
    color: #858585;
    font-size: 11px;
    font-style: italic;
}

/* New Post Box */
.new-post-box {
    -webkit-box-shadow: 0px 0px 20px 2px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 0px 20px 2px rgba(0,0,0,0.15);
    box-shadow: 0px 0px 20px 2px rgba(0,0,0,0.15);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding: 0;
    margin: 0 0 25px 0;
}

.new-post-box textarea {
    outline: none;
    -webkit-appearance: none;
    resize: none;
    border: none;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    width: 100%;
    font-size: 18px;
    color: #333;
    height: 30px;
    margin-top: 10px;
    padding: 0;
}

.new-post-box textarea::-webkit-input-placeholder {
    font-size: 13px;
    color: #9d9d9d;
    font-style: italic;
}

.new-post-box hr {
    margin: 10px 0;
}

.new-post-box input[type=file] {
    display: none;
}

.new-post-box .btn-add-image {
    background: #ececec;
    border-color: #d9d9d9
}

.new-post-box .btn-add-image:hover {
    background: #d9d9d9;
    border-color: #c8c8c8
}

.new-post-box .btn-submit {
    background: #488ec9;
    border-color: #3c76a7;
    padding-left: 20px;
    padding-right: 20px;
    color: #fff
}

.new-post-box .btn-submit:hover {
    background: #3c76a7;
    border-color: #2e5679;
}

.new-post-box .loading-post {
    display: none;
}

.new-post-box .loading-post img {
    width: 25px;
    height: 25px;
}

.new-post-box .image-area {
    text-align: center;
    display: none;
}

.new-post-box .image-area img{
    max-width: 100%;
}

.new-post-box .image-remove-button {
    background: rgba(255,255,255,0.5);
    position: absolute;
    display: block;
    font-size: 23px;
    padding: 0 10px;
    color: #333;
}

.new-post-box .image-remove-button:hover {
    color: #000;
}

/* Post List */
.panel-post {

}

.panel-post .post-profile-photo {
    width: 50px;
    height: 50px;
}

.panel-post .info {
    padding: 0;
    margin-left: 10px;
}

.panel-post .info a {
    display: block;
}

.panel-post .info a.name {
    color: #454545;
    font-weight: bold;
    font-size: 15px;
}

.panel-post .info a.username {
    color: #757575;
    font-size: 13px;
}

.panel-post .info a.date {
    color: #929292;
    font-style: italic;
    font-size: 12px;
}


.panel-post .info a.date:hover {
    text-decoration: underline;
}

.panel-post .like-box {
    color: #454545;
    font-size: 12px;
}

.panel-post .like-box a {
    color: #454545;
    display: block;
    text-align: center;
}


.panel-post .like-box a.all_likes:hover {
    text-decoration: underline;
}

.panel-post .like-box a:first-child:hover {
    color: #d63737;
}

.panel-post .like-box a:last-child {
    margin-top: 5px;
    font-style: italic;
    font-size: 11px;
}

.panel-post .like-box i {
    color: #d63737;
    font-size: 19px;
    float: left;
    margin-right: 6px;
}

.panel-post .post-image {
    margin: 0 auto;
}

.panel-post .post-content-s {
    font-size: 20px;
}

.panel-post .fix-hr {
    margin-left: -15px;
    width: calc(100% + 30px)
}

.panel-post .post-comment {
    color: #d63737;
    font-size: 19px;
    float: left;
    padding: 0;
    margin: 0;
    height: auto;
}

.panel-post .post-comment .panel-body {
    padding: 0;
    margin: 10px;
}

.panel-post .post-comment .comment-profile-photo {
    width: 35px;
    height: 35px;
}

.panel-post .post-comment .comment-info {
    padding: 0;
    margin-left: 10px;
    line-height: 10px;
}

.panel-post .post-comment .comment-info a {
}

.panel-post .post-comment .comment-info a.name {
    color: #454545;
    font-weight: bold;
    font-size: 13px;
}

.panel-post .post-comment .comment-info a.username {
    color: #757575;
    font-size: 12px;
}

.panel-post .post-comment .comment-info span.date {
    color: #929292;
    font-style: italic;
    font-size: 10px;
}

.panel-post .post-comment .comment-info .remove {
    font-size: 13px;
    color: #666;
    display: block;
    margin-left: 10px;
}

.panel-post .post-comment .comment-info .remove:hover {
    color: #d62728;
}

.panel-post .post-comment p {
    color: #2d2d2d;
    font-size: 12px;
    padding: 0;
    margin: 0;
}

.panel-post .post-comments hr {
    margin: 5px 0;
}

.panel-post .post-write-comment {

}

.panel-post .post-write-comment .media-object {
    width: 35px;
    height: 35px;
    margin-right: 10px;
}

.panel-post .post-write-comment textarea {
    outline: none;
    -webkit-appearance: none;
    resize: none;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    width: 100%;
    font-size: 13px;
    color: #333;
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 5px;
}

.panel-post .post-write-comment textarea::-webkit-input-placeholder {
    font-size: 11px;
    color: #9e9e9e;
    font-style: italic;
}

.post-list {
}

.post-list-top-loading, .post-list-bottom-loading {
    text-align: center;
    padding: 10px 0;
    display: none;
}

.post-list-top-loading img, .post-list-bottom-loading img {
    width: 50px;
    height: 50px;
}

#likeListModal .user_list {
     max-height: 400px;
    overflow-x: auto;
}

#likeListModal .user_list .list-group-item img{
    margin-right: 15px;
    float: left;
}

#likeListModal .user_list .list-group-item a{
    color: #333;
    line-height: 0px;
}

/* Alert Message */
.alert-message
{
    margin: 20px 0;
    padding: 20px;
    border-left: 3px solid #eee;
}
.alert-message h4
{
    margin-top: 0;
    margin-bottom: 5px;
}
.alert-message p:last-child
{
    margin-bottom: 0;
}
.alert-message code
{
    background-color: #fff;
    border-radius: 3px;
}
.alert-message-success
{
    background-color: #F4FDF0;
    border-color: #3C763D;
}
.alert-message-success h4
{
    color: #3C763D;
}
.alert-message-danger
{
    background-color: #fdf7f7;
    border-color: #d9534f;
}
.alert-message-danger h4
{
    color: #d9534f;
}
.alert-message-warning
{
    background-color: #fcf8f2;
    border-color: #f0ad4e;
}
.alert-message-warning h4
{
    color: #f0ad4e;
}
.alert-message-info
{
    background-color: #f4f8fa;
    border-color: #5bc0de;
}
.alert-message-info h4
{
    color: #5bc0de;
}
.alert-message-default
{
    background-color: #EEE;
    border-color: #B4B4B4;
}
.alert-message-default h4
{
    color: #000;
}
.alert-message-notice
{
    background-color: #FCFCDD;
    border-color: #BDBD89;
}
.alert-message-notice h4
{
    color: #444;
}

/* User Card */
.user-card {
    background: #fff;
}

.user-card .cover {
    width: 100%;
    height: 100px;
    background-color: #334d63;
    background-size: cover;
    background-position: center center;
}

.user-card .cover.no-cover {
    height: 50px;
}

.user-card .detail {
    border: 1px solid #dedede;
    border-top: none;
    -webkit-border-radius: 0 0 2px 2px;
    -moz-border-radius:  0 0 2px 2px;
    border-radius: 0 0 2px 2px;
    padding: 3px 5px;
    height: 60px;
    box-sizing: border-box;
}

.user-card .detail .image {
    display: block;
    float: left;
    margin-top: -25px;
}

.user-card .detail .image img {
    width: 70px;
    height: 70px;
    border: 3px solid #c8d6f7;
}

.user-card .detail .image img.female {
    border-color: #f7c8eb
}


.user-card .detail .info {
    margin-left: 5px;
    display: block;
    float: left;
}

.user-card .detail .info .name{
    display: block;
    color: #373737;
    font-weight: bold;
    font-size: 14px;
    font-family: Arial, serif;
}

.user-card .detail .info .username{
    display: block;
    color: #373737;
    font-size: 13px;
}

/* Menu */
.menu li {
    padding: 0;
}

.menu a {
    padding: 10px 15px;
    display: block;
    color: #505050;
}

.menu a i {
    width: 15px;
    font-size: 16px;
    text-align: center;
    margin-right: 10px;
}

.menu a.menu-home i {
    color: #399398;
}

.menu a.menu-nearby i {
    color: #abc35c
}

.menu a.menu-groups i {
    color: #df7e49
}

.menu a.menu-dm i {
    color: #d24a41
}

.menu li:hover {
    background: #dae7f1;
}


/* Friends */
.card{
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 4px;
    color: #444444;
    margin-bottom: 10px
}
.card-container, .front, .back {
    width: 100%;
    border-radius: 4px;
}
.card .cover{
    height: 105px;
    overflow: hidden;
    border-radius: 4px 4px 0 0;
    background-color: #334d63;
    background-size: cover;
    background-position: center center;
}
.card .cover img{
    width: 100%;
}
.card .user{
    border-radius: 50%;
    display: block;
    margin: -55px auto 0;
    overflow: hidden;
    width: 120px;
}
.card .user img{
    background: none repeat scroll 0 0 #FFFFFF;
    border: 4px solid #c8d6f7;
    width: 100%;
}

.card .user img.female{
   border-color: #f7c8eb
}

.card .content{
    background-color: rgba(0, 0, 0, 0);
    box-shadow: none;
    padding: 0;
}
.card .content .main {  }
.card .name {
    font-size: 20px;
    line-height: 28px;
    margin: 10px 0 0;
    text-align: center;
    text-transform: capitalize;
}
.card h5{
    margin: 5px 0;
    font-weight: 400;
    line-height: 20px;
}
.card .profession{
    color: #999999;
    text-align: center;
    margin-bottom: 10px;
}
.card .profession small {
    color: #000;
}
.card .bottom {
    border-top: 1px solid #EEEEEE;
    color: #999999;
    margin: 0 0 0 0;
    padding: 10px 0 10px 0;
    text-align: center;
    height: 55px;
}

/* Content Page Title */
.content-page-title {
    color: #2d2d2d;
    font-size: 23px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 15px;
}
.content-page-title .fa-map-marker {
    color: #abc35c
}

.content-page-title .fa-users {
    color: #df7e49
}

.content-page-title .fa-commenting {
    color: #d24a41
}


/* Content Page Blue Title */
.content-page-blue-title {
    color: #1b5382;
    font-size: 23px;
    padding: 10px 0 20px 0;
}


/* Direct Messages */
.new-message-button {
    margin-bottom: 10px;
}
.dm {
    background: #fff;
    width: 100%;
    height: 600px;
    border: 1px solid #c3c3c3;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.dm .friends-list {
    width: 30%;
    float: left;
    box-sizing: border-box;
    border-right: 1px solid #c3c3c3;
    height: 100%;
    overflow: auto;
}

.dm .friends-list .friend {
    display: block;
    border-bottom: 1px solid #dedede;
    padding: 10px;
    position: relative;
}

.dm .friends-list .friend:hover {
    background: #e1f1fe;
}

.dm .friends-list .friend .image {
    float: left;
    width: 70px;
    margin-right: 10px;
}

.dm .friends-list .friend strong {
    font-size: 15px;
    color: #555;
    font-family: Arial, serif;
    display: block;
    margin-top: 5px;
}

.dm .friends-list .friend span {
    font-size: 13px;
    color: #666;
    display: block;
}

.dm .friends-list .friend small {
    font-style: italic;
    color: #999;
}

.dm .friends-list .friend .circle {
    background: #325f85;
    width: 20px;
    height: 20px;
    -webkit-border-radius: 50% 50%;
    -moz-border-radius: 50% 50%;
    border-radius: 50% 50%;
    position: absolute;
    right: 10px;
    top: 35px;
    z-index: 10;
    display: none;
}

.dm .friends-list .friend.active {
    background: #325f85;
}

.dm .friends-list .friend.active strong, .dm .friends-list .friend.active span, .dm .friends-list .friend.active small {
    color: #fff;
}

.dm .friends-list .friend.active {
    background: #325f85;
}

.dm .friends-list .friend.active strong, .dm .friends-list .friend.active span, .dm .friends-list .friend.active small {
    color: #fff;
}

.dm .friends-list .friend.new-message .circle {
    display: block;
}

.dm .chat {
    width: 70%;
    height: 100%;
    float: left;
}

.dm .chat .chat-info {
    padding: 10px;
    border-bottom: 1px solid #c3c3c3
}

.dm .chat .chat-info .user-profile {
    float: left;
    display: block;
}

.dm .chat .chat-info .user-profile img{
    float: left;
    margin-right: 5px;
    width: 40px;
}

.dm .chat .chat-info .user-profile .detail {
    float: left;
    font-size: 13px;
    color: #404040
}

.dm .chat .chat-info .user-profile .detail strong {
    font-size: 15px;
    color: #555;
    font-family: Arial, serif;
    display: block;
}

.dm .chat .chat-info .btn-remove {
    float: right;
    display: block;
}

.dm .chat .message-list {
    height: 435px;
    overflow: auto;
    padding: 10px;
}

.dm .chat .message-list .message {
    width: 50%;
    box-sizing: border-box;
    margin: 0;
}

.dm .chat .message-list .message .text {
    background: #dfdfdf;
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    -webkit-border-radius: 10px 10px;
    -moz-border-radius: 10px 10px;
    border-radius: 10px 10px;
}

.dm .chat .message-list .message .delete {
    font-size: 13px;
    color: #d62728;
    display: none;
    float: left;
}

.dm .chat .message-list .message:hover .delete{
    display: block;
}

.dm .chat .message-list .message small {
    text-align: right;
    font-style: italic;
    color: #999;
    display: block;
    height: 20px;
}

.dm .chat .message-list .message.message-right {
    float: right;
}

.dm .chat .message-list .message.message-right .text{
    background: #6088a9;
    color: #fff;
}

.dm .chat .message-write {
    background: #ebf0f4;
    padding: 10px;
    height: 100px;
    box-sizing: border-box;
}

.dm .chat .message-write textarea{
    outline: none;
    -webkit-appearance: none;
    resize: none;
    border: none;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    width: 100%;
    height: 80px;
    font-size: 14px;
    color: #333;
    padding: 16px 10px;
}

.dm .chat .message-write textarea::-webkit-input-placeholder {
    font-size: 13px;
    color: #9d9d9d;
    font-style: italic;
}

#userListModal .user_list {
    max-height: 400px;
    overflow-x: auto;
    padding: 20px;
}

#userListModal .user_list #modal-table{
    width: 100%;
}

#userListModal .user_list a {
    display: block;
    border-bottom: 1px solid #dedede;
    padding: 10px;
    width: 100%;
    position: relative;
}

#userListModal .user_list .a:hover {
    background: #e1f1fe;
}

#userListModal .user_list a .image {
    float: left;
    width: 70px;
    margin-right: 10px;
}

#userListModal .user_list a strong {
    font-size: 15px;
    color: #555;
    font-family: Arial, serif;
    display: block;
    margin-top: 5px;
}

#userListModal .user_list a span {
    font-size: 13px;
    color: #666;
    display: block;
}

#userListModal .user_list a small {
    font-style: italic;
    color: #999;
}

/* DM Notification */
.direct-messages-notification .friend {
    display: block;
    border-bottom: 1px solid #dedede;
    padding: 10px;
    min-width: 300px;
}

.direct-messages-notification .friend:last-child {
    border-bottom: none;
}

.direct-messages-notification .friend:hover {
    background: #e1f1fe;
}

.direct-messages-notification .friend .image {
    float: left;
    width: 40px;
    margin-right: 10px;
}

.direct-messages-notification .friend strong {
    font-size: 13px;
    color: #555;
    font-family: Arial, serif;
    display: block;
    margin-top: 5px;
}

.direct-messages-notification .friend span {
    font-size: 12px;
    color: #666;
    display: block;
}

.direct-messages-notification .friend small {
    font-style: italic;
    font-size: 11px;
    color: #999;
}


/* Groups */
.bs-box{
    display: block;
    background: #fff;
    border-bottom: 2px solid #2196F3;
    text-decoration: none;
    color: black;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    padding: 20px;
    margin-bottom: 20px;
    height: 150px;
    text-align: center;
}
.bs-box:hover {
    box-shadow: 0 3px 8px rgba(0,0,0,0.15);
    -webkit-box-shadow: 0 3px 8px rgba(0,0,0,0.15);
    -moz-box-shadow: 0 3px 8px rgba(0,0,0,0.15);
}


/* Group Stats */
.group-stats {
    margin: 25px 0;
}

.group-stats .box {
    display: block;
    background: #3f7ca6;
    height: 150px;
    text-align: center;
    box-sizing: border-box;
    padding: 40px 0;
    -webkit-border-radius: 50% 50%;
    -moz-border-radius: 50% 50%;
    border-radius: 50% 50%;
    color: #fff;
}

.group-stats .box.dark {
    background: #2a6187;
}

.group-stats .box.hard-dark {
    background: #184768;
}

.group-stats .box .count {
    display: block;
    font-size: 27px;
}

.group-stats .box .title {
    display: block;
    font-size: 18px;
}


@media only screen and (max-width: 1200px) {
    .profile .cover, .profile .cover .loading-cover{
        height: 300px;
    }

    .profile .cover.no-cover {
        height: 180px;
    }

    .profile .cover .loading-cover img {
        margin-top: 130px;
    }

    .profile .cover .bar .profile-image {
        width: 150px;
        height: 150px;
    }

    .profile .cover .bar .profile-image .change-image .upload-button {
        font-size: 15px;
    }

    .profile .cover .bar .profile-text {
        left: 160px;
    }

    .profile .cover .bar .profile-text h2{
        font-size: 25px;
    }

    .profile .cover .bar .profile-text h4{
        font-size: 19px;
    }

    .dm .friends-list {
        width: 35%;
    }

    .dm .chat {
        width: 65%;
    }
}


@media only screen and (max-width: 1010px) {
    .navbar-around .navbar-nav li a.parent{
        padding-right: 5px;
        padding-left: 5px;
    }

}


@media only screen and (max-width: 992px) {
    .profile .cover, .profile .cover .loading-cover {
        height: 250px;
    }

    .profile .cover.no-cover {
        height: 170px;
    }

    .profile .cover .loading-cover img {
        margin-top: 100px;
    }

    .profile .cover .bar .profile-image {
        width: 125px;
        height: 125px;
    }

    .profile .cover .bar .profile-image .change-image .upload-button {
        font-size: 14px;
    }

    .profile .cover .bar .profile-image .change-image .upload-button i{
        font-size: 23px;
    }

    .profile .cover .bar .profile-text {
        left: 135px;
        padding: 8px 15px;
    }

    .profile .cover .bar .profile-text h2{
        font-size: 20px;
    }

    .profile .cover .bar .profile-text h4{
        font-size: 16px;
    }
}



@media only screen and (max-width: 776px) {
    .footer .col-sm-6:last-child{
        text-align: left;
    }

}

@media only screen and (max-width:768px){
    .profile .cover, .profile .cover .loading-cover {
        height: 200px;
    }

    .profile .cover.no-cover {
        height: 130px;
    }

    .profile .cover .loading-cover img {
        margin-top: 80px;
    }

    .profile .cover .bar .profile-image {
        width: 100px;
        height: 100px;
        left: 10px;
    }

    .profile .cover .bar .profile-image .loading-image img {
        width: 30px;
        height: 30px;
    }

    .profile .cover .bar .profile-image .change-image .upload-button {
        font-size: 12px;
        margin-top: 30%;
    }

    .profile .cover .bar .profile-image .change-image .upload-button i{
        font-size: 20px;
    }

    .profile .cover .bar .profile-image img{
        border-width: 4px;
    }

    .profile .cover .bar .profile-text {
        left: 120px;
        padding: 5px 10px;
    }

    .profile .cover .bar .profile-text h2{
        font-size: 16px;
        margin-bottom: 5px;
    }

    .profile .cover .bar .profile-text h4{
        font-size: 13px;
    }

    .profile .cover .bar .profile-follow {
        right: 10px;
    }

    .profile .cover .bar .profile-upload-cover {
        right: 10px;
    }

    .profile .profile-information .edit-button{
        position: inherit;
        height: 50px;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
        display: block;
    }


        .navbar-toggle {
            color: #fff;
            background: #fff;
        }

    .navbar-default .navbar-nav .open .dropdown-menu>li>a{
        color: #fff;
    }

}


@media only screen and (max-width:547px){
    .profile .cover {
        height: 200px;
    }

    .profile .cover.no-cover {
        height: 180px;
    }

    .profile .cover .bar .profile-image {
        width: 100px;
        height: 100px;
        top: 10px;
        left: calc(50% - 50px);
        border-width: 4px;
    }

    .profile .cover .bar .profile-image img{
    }

    .profile .cover .bar .profile-text {
        left: 10px;
        padding: 5px 10px;
    }

    .profile .cover .bar .profile-text h2{
        font-size: 16px;
        margin-bottom: 5px;
    }

    .profile .cover .bar .profile-text h4{
        font-size: 13px;
    }

    .profile .cover .bar .profile-follow {
        right: 10px;
    }

    .dm .chat .message-list .message {
        width: 90%;
    }

}